{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
{% if history_info %}
<h3 style="color : blue; margin-top : 50px; margin-bottom : 30px; text-decoration : underline">PREVIOUS POOLS</h3>
<table class="table table-bordered">
    <thead style="background-color : #ADD8E6">
        <tr>
            <th scope="col" style="width : 360px">Date Of Creation</th>
            <th scope="col">Created For</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
        </tr>
    </thead>
    <tbody>
        {% for pool, recipient_name in history_info %}
        <tr id="pool">
            <th scope="row">{{ pool["date"] }}</th>
            <td class="{% if recipient_name == 'EVERYONE' %}blue-text{% endif %}">{{ recipient_name }}</td>
            <td>{{ pool["origin"] }}</td>
            <td>{{ pool["destination"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3 style="color : red; margin-top : 50px; margin-bottom : 30px; text-decoration : underline">*NO PREVIOUS POOLS*</h3>
<h4><a class="btn btn-primary" href="/create_pool" style="margin-top : 10px">Create a pool here</a></h4>
{% endif %}
{% endblock %}